name: wp-tracking-for-divi
services:
  db:
    image: bitnami/mariadb:latest
    restart: on-failure
    environment:
      MARIADB_USER: wordpress
      MARIADB_PASSWORD: wordpress
      MARIADB_ROOT_PASSWORD: wordpress
      MARIADB_DATABASE: wordpress

  wp:
    depends_on:
    - db
    image: wordpress
    volumes:
    - ./data:/var/www/html
    - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    ports:
    - 8080:80
    restart: on-failure
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
